## 1. Explore Dataset

In [17]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

athletes = pd.read_excel('Athletes.xlsx')
athletes.rename(columns={'Discipline' : 'Sports'}, inplace=True)

coaches = pd.read_excel('Coaches.xlsx')
coaches.rename(columns={'Discipline' : 'Sports'}, inplace=True)

entries = pd.read_excel('EntriesGender.xlsx')
entries.rename(columns={'Discipline' : 'Sports'}, inplace=True)

medals = pd.read_excel('Medals.xlsx')

teams = pd.read_excel('Teams.xlsx')
teams.rename(columns={'Discipline' : 'Sports', 'Event' : 'Sex'}, inplace=True)

athletes

                        Name      NOC               Sports
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [19]:
coaches

ValueError: Can only compare identically-labeled Series objects